# Игнорировать папку data в корне
/data/

# Игнорировать любую папку с именем data (в любом месте)
data/

# Игнорировать только конкретную папку (с уточнением)
/data
/data/
/data/*

# Все файлы и папки, начинающиеся с .claude
.claude*
.agents*

*.pdf

skills-lock.json